@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Root */

:root{
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --White: #fff;
}

/* Body */

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--Light-Gray);
}

/* Main Card */

.card{
    width: 100%;
    max-width: 700px;
    height: 80%;
    margin:120px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .5);
    border-radius: 0.6em;
}

/* Section Community */

.card__community{
    grid-column: 1/-1;
    background-color: var(--White);
    padding: 40px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.community__title{
    color: var(--Cyan);
    font-weight: 700;
}

.community__subtitle{
    color: var(--Bright-Yellow);
    font-weight: 700;
}

.card__community__paragraph{
    width: 90%;
 }

.community__paragraph{
    color: var(--Grayish-Blue);
    font-weight: 400;
    line-height: 1.6;
}

/* Section Subscription */

.card__subscription{
    grid-column: 1/2;
    background-color: var(--Cyan);
    padding: 20px 40px;
    border-bottom-left-radius: inherit;
}

.subscription__title{
    color: var(--White);
    font-weight: 700;
    font-size: 18px;
}

.card__subscription__price{
    height: 45px;
}

.subscription__price{
    color: var(--White);
    font-size: 2.3em;
    display: inline-block;
    margin-top: 5px;
}

.subscription__month{
    position: absolute;
    color: var(--Light-Gray);
    display: inline-block;
    margin-left: 15px;
    opacity: .5;
}

.subscription__paragraph{
    color: var(--Light-Gray);
    margin-bottom: 20px;
    display: inline-block;
}

.subscription__btn{
    display: inline-block;
    padding: 15px 90px;
    background-color: var(--Bright-Yellow);
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: var(--White);
    border-radius: .5em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    transition: background-color .7s, color .7s;
}

.subscription__btn:hover{
    background-color: rgba(42, 238, 235, 0.534);
    color: var(--Bright-Yellow);
}

/* Section Information */

.card__information{
    grid-column: 2/-1;
    background-color: rgba(42, 178, 175, 0.712);
    border-bottom-right-radius: inherit;
    padding: 20px 40px;
}

.information__title{
    color: var(--White);
    font-weight: 700;
    font-size: 18px;
}

.information__paragraph{
    width: 80%;
    color: var(--Light-Gray);
    opacity: .8;
    line-height: 1.6;
}

/* Media Queries */

@media screen and (max-width:800px){
    .card{
        max-width: 600px;
        margin-bottom: 120px;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:500px){
    .card{
        max-width: 320px;
        margin-top: 70px;
        margin-bottom: 70px;
        grid-template-columns: 1fr;
    }

    .card__community{
        padding: 20px;
    }

    .card__community__paragraph{
        width: 100%;
        margin-top: 30px;
    }

    .community__paragraph{
        font-size: 14px;
    }

    .card__subscription{
        padding: 20px;
        border-radius: 0;
        grid-column: 1/2;
    }

    .subscription__title{
        font-size: 17px;
    }

    .subscription__btn{
        margin-top: 20px;
        padding: 15px 100px;
    }

    .card__information{
        padding: 20px;
        grid-column: 1/2;
        border-bottom-left-radius: inherit;
    }
}